.D-item{
  height: 480px;
}
.D-img{
  height: 100% ;
  object-fit: cover;
  filter: brightness(0.6);
}
.b-back{
  background-color: rgb(151, 146, 146);
  
}
.s-summit{
  background-color: rgb(11, 152, 51);
  color: white;
}
.font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 10px;
  font-size: 20px;
}
.me{
  font-size: 20px;
  margin: 10px;
  
}
.f-nav{
  font-size: 40px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 10px;
}
